<div class="profil">
    <mat-card class="matcard-Inf">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Informations</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <label>First Name: </label>
            <br><br>
            <label>Last Name : </label>
            <br><br>
            <label>Email : </label>
            <br><br>
            <label>Adress: </label>
        </mat-card-content>
    </mat-card>
</div>
<div class="conf-sport">
    <div>
        <mat-card class="matcard">
            <mat-card-header>
                <mat-card-title>soccer</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    adress sport ............
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>delete</mat-icon>Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card class="matcard">
            <mat-card-header>
                <mat-card-title>HandBall</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    adress sport ............
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>delete</mat-icon>Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card class="matcard">
            <mat-card-header>
                <mat-card-title>BasketBall</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    adress sport ............
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>delete</mat-icon>Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>