<mat-card>
    <form [formGroup]="form" (submit)="onLogin()">
      <mat-form-field>
        <input
          matInput
          [formControlName]="'login'"
          required
          placeholder="Login">
        <mat-error *ngIf="form.get('login').invalid">Please enter a valid login.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          [formControlName]="'password'"
          required
          matInput
          placeholder="Password">
        <mat-error *ngIf="form.get('password').invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="!isLoading">Login</button>
    </form>
  </mat-card>
