<div class="example-container">
  <button mat-button class="mybutton" (click)="onClickProfil()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">account_box
    </mat-icon>
    Profil
  </button>
  <button mat-button class="mybutton"  (click)="onClickConf()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">settings
    </mat-icon>
    Configuration
  </button>
  <button mat-button calss="mybutton" (click)="onClickMessage()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">message
    </mat-icon>
    Message
  </button>
  <button mat-button calss="mybutton" (click)="onClickSport()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">list
    </mat-icon>
    favorites sport 
  </button>
  <button mat-button calss="mybutton" (click)=onClickdeconnect()>
    <mat-icon aria-hidden="false" aria-label="Example home icon">logout
    </mat-icon>
    Déconnection
  </button>
</div>