
  agm-map {
    height: 400px;
    width: 600px;
  }
  
  .mat-icon{
    background:  #ffac8e;
  } 
  
  .navbar{
    justify-content: space-between;
    background: #ffac8e;
    color: #3f4d71;
  }
  span{
    padding-right: 1rem;
  }

  .maps{
    float: right;
  }